.about {
    padding: 45px 0 50px;
    display: flex;
    justify-content: space-between;
}

.about__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 17px;
    color: #445161;
}

.about__paragraph:not(:last-of-type) {
    margin-bottom: 10px;
}

.about__paragraph {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    width: 646px;
}

.about__img {
    width: 430px;
    height: 245px;
}