.dignity {
    background: #F5F5F5;
    padding: 25px 0 50px;
}

.dignity__title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    margin-bottom: 25px;
}

.dignity__columns {
    display: flex;
    flex-wrap: wrap;
}

.dignity__item {
    display: flex;
    width: 50%;
}

.dignity__item:nth-child(1), .dignity__item:nth-child(2), .dignity__item:nth-child(3), .dignity__item:nth-child(4) {
    margin-bottom: 33px;
}

.dignity__icon {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.dignity__paragraph {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}
