.footer {
    margin-top: 50px;
}

.footer__top {
    background: #445162;
}

.footer__container {
    width: 772px;
    margin: 0 auto;
    padding: 25px 0 48px;
}

.footer__title {
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 43px;
}

.footer__columns {
    display: flex;
}

.footer__form {
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__input {
    background: #FFFFFF;
    width: 503px;
    border-radius: 5px;
    margin-bottom: 18px;
    padding: 12px 0 7px 12px;
    color: #445162;
}

input::placeholder {
    color: #445162;
    font-size: 16px;
    line-height: 24px;
}

.footer__textarea {
    border-radius: 5px;
    background: #FFFFFF;
    padding: 12px 0 0 12px;
    width: 503px;
    height: 173px;
    margin-bottom: 18px;
    resize: none;
}

textarea::placeholder {
    color: #445162;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial;
}

/*Сброс стилей у кнопки.*/
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.footer__button {
    display: block;
    align-self: center;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    font-weight: bold;
    padding: 12px 0 7px;
    width: 143px;
    height: 43px;
    border-radius: 5px;
}

.footer__list-top {
    margin-bottom: 50px;
}
.footer__top-item:not(:last-of-type) {
    margin-bottom: 19px;
}

.footer__info-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.footer__list-buttom {
    display: flex;
    flex-direction: row;
}

.footer__buttom-item:not(:last-of-type) {
    margin-right: 6px;
}

.footer__paragraph {
    display: block;
    letter-spacing: 0.3px;
    color: #445162;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 13px 0 13px;
}