.header {
    background: #445161;
    padding: 25px 0 20px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
}

.header__info {
    color: white;
}

.header__title {
    font-family: Arial;
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 40px;
}

.header__list {
    font-size: 20px;
    line-height: 23px;
}

.header__list-item:not(:last-of-type) {
    margin-bottom: 10px;
}

.header__mark {
    fill: white;
    margin-right: 5px;
}

.header__img {
    width: 469px;
    height: 214px;
}

