.reviews {
    background: #F5F5F5;
    padding: 25px 0 42px;
}

.reviews__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 29px;
    color: #445161;
}

.reviews__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews__box {
    display: flex;
    width: 49%;
    position: relative;
}

.reviews__box:first-child {
    margin-bottom: 22px;
}

.reviews__box:nth-child(2) {
    margin-bottom: 22px;
}

.reviews__userpic {
    width: 66px;
    height: 66px;
    margin-right: 15px;
}

.reviews__decoration {
    display: block;
    position: absolute;
    left: 70px;
    top: 38px;
}

.reviews__wrp {
    background: #EBEBEB;
    border-radius: 5px;
    padding: 16px 10px 5px 15px ;
}

.reviews__paragraph {
    font-family: Roboto;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 5px;
}

.reviews__cite {
    font-size: 14px;
    line-height: 18px;
    font-family: Roboto;
    font-style: italic;
    color: #989898;
}